@using MVC_Store.Models
@model List<tblSale>
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<!DOCTYPE html>
<html>
<head>
    <style>
        table {
            font-family: arial, sans-serif;
            border-collapse: collapse;
            width: 100%;
        }

        td, th {
            border: 1px solid #dddddd;
            text-align: left;
            padding: 8px;
        }

        tr:nth-child(even) {
            background-color: #dddddd;
        }
    </style>
</head>
<body>

    <h2>Categories</h2>

    <table>
        <tr>
            <th>#</th>
            <th>Product</th>
            <th>Employee</th>
            <th>Customer</th>
            <th>Amount</th>
            <th>Date</th>
            <th>Operations</th>
        </tr>
        @foreach (var item in Model)
        {
            <tr>
                <td>@item.saleId</td>
                <td>@item.tblProduct.productName</td>
                <td>@item.tblEmployee.employeeName</td>
                <td>@item.tblCustomer.customerName</td>
                <td>@item.saleAmount</td>
                <td>@item.saleDate</td>
                <td>
                    <a href="/Sale/Bring/@item.saleId" class="btn btn-warning">Update</a>
                    <a href="/Sale/Delete/@item.saleId" class="btn btn-danger">Delete</a>

                </td>
            </tr>
        }
    </table>
    <a href="/Sale/Add" class="btn btn-info">Add New Category</a>
</body>
</html>